.outer-container {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    flex: none;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.inner-container {
    display: flex;
    flex: auto;
}

.left-pane {
    margin: 10px;
    flex: none;
    display: flex;
    flex-direction: column;
}

.left-menu {
    padding: 10px;
    flex: auto;
    color: #0084ff;
    overflow-y: auto;
    height: 200px;
    width: 20vw;
}

.left-menu a {
    color: #0084ff;
}

.left-menu > h4 {
    margin: 0;
}

.context-pane {
    flex: auto;
}

.btn-next {
}